.stylesMenu {
  padding: 20px 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #20232a;
}

.styleImgDiv {
  align-items: center;
  display: flex;
  width: 20px;
}

.aLogo {
  display: flex;
}

.logoImg {
  width: 45px;
  transition: all 0.5s ease-in-out;
}

.logoImg:hover {
  transform: rotate(180deg);
}

.styleUl {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5px 0;
}

.styleLi {
  margin: 0 10px;
  text-decoration: none;
  list-style: none;
  color: white;
  transition: 0.4s ease 0s;
}

.styleLiOne {
  margin: 0 10px;
  text-decoration: none;
  list-style: none;
  color: white;
  transition: 0.4s ease 0s;
}

.styleLiOne:hover {
  background-color: rgba(255, 255, 255, 0.041);
  border-radius: 5px;
}

.aStyle {
  color: white;
  text-decoration: none;
  height: fit-content;
  display: block;
  margin: 0 10px;
  padding: 5px 0;
  transition: 0.4s ease 0s;
}

.aStyle:hover {
  text-decoration: none;
  color: white;
}

.login {
  background-color: #61dafb;
  padding: 6px 15px;
  border-radius: 3px;
  color: #20232a;
  text-decoration: none;
  transition: 0.4s ease 0s;
}

.login:hover {
  background-color: #32bde4;
  padding: 6px 15px;
  border-radius: 3px;
  color: #20232a;
  text-decoration: none;
}

.register {
  border: 1px solid #61dafb;
  padding: 6px 15px;
  border-radius: 3px;
  color: #61dafb;
  text-decoration: none;
}

.register:hover {
  border: 1px solid #61dafb;
  padding: 6px 15px;
  border-radius: 3px;
  color: #61dafb;
  text-decoration: none;
}

.hoverLi:hover {
  background-color: rgba(255, 255, 255, 0.041);
  border-radius: 5px;
  text-decoration: none;
}

.label-search {
  cursor: text;
  display: block;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.1);
  border: rgba(255, 255, 255, 0.1);
  transition: 0.3s ease 0s;
  color: #61dafb;
  margin-left: 20px;
}

.label-search:focus-within {
  outline: none;
  --saf-0: #61dafb;
  box-shadow: 0 0 0 1px var(--saf-0), 0 0 0 5px #61dafb52;
  border-radius: 4px;
  border-color: transparent;
  -webkit-appearance: none;
}

.search-cont {
  align-items: center !important;
  display: flex;
  width: 300px;
}

.search-svg {
  display: flex;
  flex: 0 0 auto;
  width: auto;
  margin-left: 8px;
}

.icon-tabler {
  pointer-events: none;
  color: #656d7e;
  width: 1.5rem;
  height: 1.5rem;
  stroke-width: 1.5;
  transition: 0.3s ease 0s;
}

.label-search:focus-within .icon-tabler {
  color: #61dafb;
}

.search {
  border-radius: 5px;
  background-color: transparent;
  border: rgba(255, 255, 255, 0.1);
  transition: 0.3s ease 0s;
  padding: 0 10px;
  color: #61dafb;
  height: 34px;
  width: 150px;
  font-family: "Poppins", sans-serif;
}
.search::placeholder {
  color: rgba(255, 255, 255, 0.514);
}

.search:focus {
  outline: none;
}
